@import './base.scss';

.h-container {
    min-width: 250px;
    max-width: 500px;
    margin: 10px auto;
    border-radius: 5px;
    background: #e8e8e8;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    .title {
        text-align: center;
        font-size: 17px;
        font-weight: 700;
        padding: 10px;
        color: $main-color;
    }
    form {
        @include f-centered();
        flex-wrap: wrap;
    }
}

.range-wrapper {
    position: absolute;
    top: 100%;
    left: 0;

}

.btn {
    height: 40px;
    border: 2px solid $white-color;
    border-radius: 5px;
    color: $white-color;
    font-family:  Roboto;
    font-weight: 700;
    background-color: $main-color;
    outline: $white-color;
    width: 100px;
    margin: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    &:hover {
        cursor: pointer;
    }
}

.close {
    font-size: 15px;
    color: $main-color;
    text-decoration: underline;
    &:hover {
        cursor: pointer;
    }
}

@media (max-width:435px) {
    .h-container {
        margin-top: 0;
    }
}



